.container {
  min-height: 100vh;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px; /* 페이지 중앙에 보이도록 최대 너비 설정 */
  width: 100%;
  margin: 50px;
  padding-bottom: 50px;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px; /* 푸터에도 동일한 최대 너비 설정 */
  margin: 0 auto; /* 중앙 정렬 */
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

.title span {
  color: #0070f3;
}

.description {
  margin-top: 50px;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 100px;
  margin-bottom: 350px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  width: 300px;
  height: 200px;
}

.card:hover {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}
.emty {
  margin-bottom: 400px;
}

.emty2 {
  margin-top: 350px;
  margin-bottom: 200px;
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px; /* 섹션에서도 최대 너비 설정 */
  text-align: center;
  margin: 2rem auto; /* 중앙 정렬 */
  padding: 2rem;
  position: relative;
  border: 1px solid #c6d4c6;
  animation: fadein 3s;
  -webkit-animation: fadein 3s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.section::before {
  border-bottom: 30px solid transparent;
  border-left: 30px solid #c6d4c6;
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}

.aboutContent {
  width: 50%;
  height: auto;
}

.aboutText {
  width: 50%;
  margin-left: 20px;
}

.aboutText h2 {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 24px;
}

.aboutText p {
  text-align: left;
  font-size: 18px;
}

.goalContent {
  width: 50%;
  height: auto;
}

.goalText h2 {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 24px;
}

.goalText h1 {
  text-align: left;
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
}

.goalText p {
  text-align: left;
  margin-top: 10px;
}

.goalText {
  width: 50%;
  margin-right: 20px;
}

.membersContent {
  width: 50%;
  height: auto;
}

.membersText h2 {
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 30px;
  font-size: 24px;
}

.membersText {
  width: 50%;
  margin-left: 20px;
}

.contactContent {
  width: 50%;
}
.contactText h2 {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 22px;
}

.contactText {
  width: 50%;
}

.spanname {
  font-weight: bold;
}

/* 사이드바 스타일 */
.sidebar {
  position: fixed;
  left: 0%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 0 10px 10px 0;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 3;
  filter: alpha(opacity=50);
  opacity: 0.7;
}

.sidebar :hover {
  opacity: 0.5;
}

.sidebar a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #0070f3;
  padding: 10px;
  transition: background-color 0.2s;
}

.sidebar a:hover {
  background-color: #eaeaea;
}

/* 애니메이션 초기 상태 */
.hidden {
  opacity: 0;
  transform: translateY(100px); /* 이동 범위를 100px로 더 크게 설정 */
  transition: opacity 1s ease-out, transform 1s ease-out; /* 지속 시간을 1초로 늘림 */
}

/* 화면에 나타난 후 */
.visible {
  opacity: 1;
  transform: translateY(0);
}

/* 타이틀, 디스크립션, 그리드에 대한 애니메이션 */
.title,
.description,
.grid {
  animation: fadeInUp 1s ease-out; /* 애니메이션 지속 시간을 1초로 변경 */
}

.description {
  background-color: #0070f3;
  border: #0070f3;
  color: #0070f3;
  font-size: 20px;
}

/* fadeInUp 애니메이션 */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100px); /* 이동 범위를 더 크게 변경 */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 슬라이더 컨테이너 */
.sliderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden; /* 슬라이드 효과가 잘리도록 설정 */
  width: 500px; /* 카드 컨테이너 너비 설정 */
}

/* 프로젝트 목표 카드 스타일 */
.projectGoal {
  width: 400px;
  padding: 20px;
  margin: 0 20px;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.5s ease-in-out; /* 슬라이드 애니메이션 */
  transform: translateX(0); /* 초기 상태 */
}

.projectGoal h2 {
  font-weight: bold;
  font-size: 24px;
}

.projectGoal h1 {
  font-weight: bold;
  font-size: 22px;
}

.sliding {
  transform: translateX(-100%); /* 왼쪽으로 슬라이드 */
}

.goalImage {
  width: 70%;
  height: 200px;
  margin: auto;
  padding-top: 10px;
}

/* 화살표 버튼 스타일 */
.arrow {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
  transition: color 0.3s ease;
}

.arrow:hover {
  color: #0070f3;
}

.githubIcon {
  display: inline;
  width: 20px;
  height: 20px;
  margin-bottom: 6px;
  margin-left: 4px;
}
